
#cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 350px;

}

.error-message {
    color: #d8000c;
    font-weight: bold;
    font-size: 14px;
}

.container2 {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.registration-form input,
.registration-form select {
    margin: 0;
}
.form-group{
    padding:10px 10px 10px;
}
.register{
    background-color: #8CC327;
    color:white;
    border:none;
}